<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<div class="row header-row">
			<header>
				<div class="col-xs-2">
					<div class="circle">
						<br>
						COGITO
						<br>
						ERGO
						<br>
						SUM
					</div>
				</div>
				<div class="col-xs-5 slogan">Splurting out pithy nuggets of potential wisdom...</div>
			</header>
			<nav>
				<div class="col-xs-5 links">
					<%= link_to("Contribute Quote", "#") %>
					<%= link_to("About", "#") %>
				</div>
			</nav>	
		</div>
		<%= yield %>
	</div>
</body>
</html>