<!DOCTYPE html>
<html>
<head>
	<title>Splurty</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<div class="row header-row">
			<header>
				<div class="col-xs-2">
					<%= link_to(root_path(), class: "logo") do %>
						<div class="circle">
							<br>
							COGITO
							<br>
							ERGO
							<br>
							SUM
						</div>
					<% end %>
				</div>
				<div class="col-xs-5 slogan">Splurting out pithy nuggets of potential wisdom...</div>
			</header>
			<nav>
				<div class="col-xs-5 links">
					<%= link_to("Contribute Quote", new_quote_path()) %>
					<%= link_to("About", about_path()) %>
				</div>
			</nav>	
		</div>
		<div class="row">
			<% if flash[:error] %>
				<div class="col-xs-10 col-xs-offset-1 alert alert-danger" role="alert">
					<%= flash[:error] %>
				</div>
			<% end %>
		</div>
	</div>
	<%= yield %>
	<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6">
					<%= link_to("May I have some more, sir?", root_path(), class: "next-quote") %>
				</div>
				<div class="col-xs-6 footer-blurb">
					Cobbled together in San Francisco, CA by <a href="https://www.linkedin.com/in/obulkin">Oleg Bulkin</a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>